body{
    text-align: center;
}
h1{
    font-size: 30px;
}
h2{
    color: blue;
}
.align{
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
}
.align img{
    max-width: 100px;
}


.player-options img,.enemy-options img {
        max-width: 200px;
        opacity: 0.3;
        cursor: pointer;
    }

    .player-options,.enemy-options{
        width:50%;
    }

    .align{
        display: flex;
    }